
    <h3> Where you can add, edit, or delete cocktail recipes on your account</h3>

<img src='https://media.cntraveler.com/photos/5a846dbbfe6fd1553e242501/16:9/w_2560%2Cc_limit/Trick-Dog__2018_Trick-Dog-Bar-and-Stool-Shot_credit-Allison-Webber.jpg'
    width= "1300"
    height= "800" />

</body>
</html>