<h2> All Cocktails </h2>
<% @cocktails.each do |cocktail| %>
<p>
<%= link_to cocktail.name, cocktail_path(cocktail) %> "Recipe By:" <%= link_to cocktail.user.email, user_cocktails_path(cocktail.user.id) %>
 <%end%>
<p>