<% if @user %>
    <%= @user.email %>'s Cocktail Recipes
    <% else %>
<h2> All my Cocktails </h2> 
<% end %>

<% current_user.cocktails.each do |c| %>
<p>
<%= link_to c.name, cocktail_path(c) %> Recipe By: <%= link_to c.user.email, user_cocktails_path(@user) %>
 <%end%> 
