<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>

body, html {
  height: 100%;
  margin: 0;
}

.bg {
  background-image: url('https://media.cntraveler.com/photos/5a846dbbfe6fd1553e242501/16:9/w_2560%2Cc_limit/Trick-Dog__2018_Trick-Dog-Bar-and-Stool-Shot_credit-Allison-Webber.jpg');

  height: 100%; 

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
</style>
</head>
<body>
    <h1> Welcome to Bar Trainer </h1>
    <h3> Where you can add cocktail recipes for your staff</h3>
<div class="bg"></div>

</body>
</html>
 

